* {
 margin: 0;
}

body {
 background-color: #fafafa;
}

.wrapper {
 margin: 20px auto 0 auto;
 }

.column-wrapper {
  border: solid 1px #dbdbdb;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 10px;
}

.two-columns-row {
 display: flex;
 gap: 30px;
}


 /* NAV */

.nav-bar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding: 5px;
}

nav {
 border-bottom: solid 1px #dbdbdb;
 background-color: white;
}

.search-bar {
 display: flex;
 align-items: center;
 background-color: #efefef;
 padding: 7px;
 border-radius: 10px;
 
}

.search-bar img {
 width: 12px;
}

.search-bar input {
 border: none;
 background-color: #efefef;
 font-size: 12px;
}

ul {
 list-style-type: none;
}

.nav_buttons {
 margin-right: 7px;
}

.nav_buttons li {
 float: left;
 padding-left: 15px;
}

img.user {
 width: 24px;
 border-radius: 50px;
}

/* USER INFO */

.right-row .user-info img {
 width: 50px;
}

.user-info {
 display: flex;
 align-items: center;
}

.user-info .user-name {
 display: flex;
 flex-direction: column;
 margin-left: 20px;
}

.user-info .user-name .login {
 font-weight: bold;
}

.user-info .user-name .name {
 font-size: smaller;
 color: #969696;
}

.user-info .switch-acc {
 margin-left: 60px;
 text-decoration: none;
 color: #3095f6;
 font-weight: bold;
}

/* PROPOSITIONS */

.proposition {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 35px;
}

.proposition p {
 font-size: 12px;
 font-weight: bold;
 color: #969696;
}

.proposition a {
 text-decoration: none;
 font-size: 12px;
 font-weight: bold;
 padding: 2px;
 color: black;
}

.user-info .user-name .description {
 font-size: smaller;
 color: #969696;
}

.users-list .user-info img {
 width: 35px;
 border-radius: 50px;
}

.users-list .user-info .login {
 font-size: 14px;
 color: black;
}

.users-list .user-info .description {
 font-size: 10px;
 color: #969696;
}

.users-list .user-info:nth-child(2) img {
 border: 2px solid #dd2a7c;
}

.users-list .user-info {
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}

.users-list .user-info .user-name {
 margin-left: 10px;
}


/* STATUS */

.status-wrapper {
 display: flex;
 border: solid 1px #dbdbdb;
 border-radius: 5px;
 background-color: white;
 padding-bottom: 10px;
 flex-wrap: nowrap;
 overflow-x: auto;
 
}

 .status-container {
  padding: 5px 8px 5px 8px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
 }

 .status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  gap: 3px;
  flex: 0 0 auto;
 }

 .profile-pic img {
  width: 45px;
  border-radius: 50%;
  border: solid 2px #dd2a7c;
 }


/* POST */

 .post-wrapper-head {
  padding: 5px 8px 5px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .post-wrapper-head-left {
  display: flex;
  gap: 10px;
  align-items: center;
 }

 .post-wrapper-head-left .profile-pic img {
  width: 35px;
 }

 .post-wrapper-head-left .name {
  font-weight: bold;
 }

 .post-wrapper-head-left .location {
  color: #969696;
 }

 .post-wrapper .post-wrapper-photo img {
  max-width: 100%;
 }

 .post-wrapper-nav {
  padding: 5px 8px 5px 8px;
  display: flex;
  gap: 10px;
 }

 .post-wrapper-text {
  padding: 5px 8px 20px 8px;
 }

 .post-wrapper-text .likes {
  padding-bottom: 10px;
  font-weight: bold;
 }

 .post-wrapper-text span {
  font-weight: bold;
 }

 .post-wrapper-comment {
  padding: 10px 8px 5px 8px;
  border-top: 1px solid #dbdbdb;
  display: flex;
  gap: 10px;
 }

 .post-wrapper-comment input[type=text] {
  border: none;
 }

.load-more {
 padding: 10px 8px 7px 8px;
 display: flex;
 justify-content: center;
}

.load-more button {
 border: none;
 background-color: transparent;
 font-weight: bold;
}

/* FOOTER */

.foot-links li {
 float: left;
 padding-right: 10px;
}



/* DESKTOP */

@media (min-width:700px) {
 .wrapper {
  max-width: 1100px;
  margin: 40px auto 0 auto;
  padding-bottom: 10px;
 }

 .nav-wrapper {
  max-width: 1300px;
  margin: auto;
 }
}



@media (max-width:700px) {
 .search-bar {
  display: none;
 }

 .right-row {
  display: none;
 }

 .two-columns-row {
  display: initial;
 }
 .wrapper {
  width: 100%;
 }

}